.operador{

    width: 800px;
    height: 300px;
    border: solid 3px black;

}

.cliente{
    width: 800px;
    height: 300px;
    border: solid 3px black;

}

.container1{
    padding-top: 30px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}


.container2{
    gap: 40px;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
}

p{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;

}