.operador{
    flex-direction: column;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    width: 800px;
    height: 300px;
    border: solid 3px black;
    background-image: url('img/chat_retro.png')


}

.operador:after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.cliente{
    width: 800px;
    height: 300px;
    border: solid 3px black;

}

.container{
  display: flex;
  transition: transform 0.5 ease-in-out;
  transform: translateX(0);
}

.container1{
    padding-top: 30px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}


.container2{
    gap: 40px;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
}

.op_carrocel{
  width: 200px;
  height: 200px;
  border: 4px solid darkgreen;
  overflow: hidden;
}

.txt_cliente{
  resize: none;
  width: 800px;
  height: 300px;
  font-size: 30px;
  color: green;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url('img/chat_retro.png')

}